<div class="container-fluid p-0">
  <div class="filters text-center">
    <button mat-raised-button class="mb-2 ml-2" [disabled]="all" [ngClass]="{'bg-success': all, 'text-white': all}" (click)="getAll();">
      All
    </button>
    <button mat-raised-button class="mb-2 ml-2" [disabled]="followers" [ngClass]="{'bg-success': followers, 'text-white': followers}"
      (click)="getFollowers();">
      Followers
    </button>
    <button mat-raised-button class="mb-2 ml-2" [disabled]="following" [ngClass]="{'bg-success': following, 'text-white': following}"
      (click)="getFollowing();">
      Following
    </button>
  </div>
  <div @fade class="user col-12 offset-md-3 col-md-6 p-0" *ngFor="let user of users">
    <app-user-details [user]="user">
    </app-user-details>
  </div>

  <div *ngIf="loaded && !this.showSpinner && !endOfLoading" class="text-center col-12">
    <button mat-button class="w-50" (click)="loadMore();">Load More...</button>
  </div>
</div>

<div @fade class="container" *ngIf="!loaded || this.showSpinner">
  <mat-spinner [diameter]="50" color="warn"></mat-spinner>
</div>
