<mat-toolbar>
  <button
      routerLink=""
      class="home">
  </button>

  <span class="spacer"></span>

  <button class="actions"
      [ngClass]="{'actions-active': currentUrl == '/search'}"
      [routerLink]="['search']"
      *ngIf="loggedIn">
    <mat-icon class="button-icon">search</mat-icon>
  </button>

  <button class="actions"
      [ngClass]="{'actions-active': currentUrl == '/users'}"
      routerLink="/users"
      *ngIf="loggedIn">
    <mat-icon class="button-icon">people_outline</mat-icon>
  </button>

  <button
      mat-fab
      class="add"
      (click)="openDialog();"
      *ngIf="loggedIn && (currentUrl == '/profile' || currentUrl == '/' || currentUrl == '/profile/user')">
    <mat-icon>add</mat-icon>
  </button>

  <span class="spacer"></span>
  <button mat-button routerLink="login" *ngIf="!loggedIn">
    Login
    <mat-icon>login</mat-icon>
  </button>
  <button mat-button routerLink="register" *ngIf="!loggedIn">
    Register
    <mat-icon>account_box</mat-icon>
  </button>

  <div class="profile-div text-center" *ngIf="loggedIn" [ngClass]="{'actions-active': currentUrl == '/profile'}">
    <button mat-icon-button routerLink="profile">
      <img [src]="avatar" class="profile">
    </button>
  </div>

  <button mat-button class="actions p-0" (click)="logout();" *ngIf="loggedIn">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
