.search {
  font-size: .8em;
  display: inline-block;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #242526;
  color: white;
}

.home {
  width: 2em;
  height: 2em;
  min-width: 40px;
  background-image: url("../../assets/icons/home.png");
  background-color: transparent;
  border: none;
  background-size: cover;
}

.profile {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.actions {
  background-color: transparent;
  border: none;
  color: #ffffff;
  height: 100%;
  width: 3.5em;
}

.actions:hover {
  background-color: #434547;
}

.actions-active {
  border-bottom: 4px solid #209CEE;
  color: #209CEE;
}

.add {
  background-color: #209CEE;
  color: #ffffff;
  position: fixed;
  top: 85%;
  left: 70%;
}

.button-icon {
  vertical-align: middle;
}

.profile-div {
  height: 100%;
  width: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
