.mat-radio-button ~ .mat-radio-button {
  margin-left: 1em;
}

.mat-radio-group {
  margin-left: 1em;
}

mat-spinner {
  margin: 1em auto;
}

.filters, .search {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
