.author-avatar {
  background-size: cover;
}

.commenter-avatar {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-size: cover;
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
  color: #0055AA;
}

.comments {
  padding: 1em 1em;
  max-height: 20em;
  overflow-y: scroll;
  border-radius: 5px;
}

mat-spinner {
  margin: 0px auto;
}

.body {
  max-height: 20em;
  overflow-y: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.comment {
  font-size: smaller;
  max-height: 10em;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.comment-card {
  background-color: rgb(250, 250, 250);
  border: none;
}

mat-card > mat-card-actions {
  border-top: 1px solid rgb(194, 194, 194);
  text-align: center;
}
